<!DOCTYPE html>
<html>
  <head>
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<a href="/"> Home </a>

  	<a href="/forum">Forum </a>
  	<a href="/chat">Chat </a>
  	<a href="/collaborator">Collaborative Workspace</a>

  	<a href="/library">Library</a>

  	<a href="/profile">Profile</a>

  	

    <p>
    </p>
    <iframe src="/collab" width="800" height="500">
    <!--<iframe src="localhost:9001/p,gid+Date"></iframe>-->
    

  </body>
</html>
