<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<a href="/"> Home </a>

  	<a href="/forum">Forum </a>
  	<a href="/chat">Chat </a>
  	<a href="/collaborator">Collaborative Workspace</a>

  	

  	<a href="/profile">Profile</a>

  	<div>Livestream URL</div>


  	<div>Forum Integration /forum</div>
  	//Side Bar of page

  	<div>Chat Integration /chat</div>
  	//facebook type integration

  	<div>//Prerequisite : User ID, Group ID</div>
    <iframe src="/chat" width="200" height="400"></iframe>

    <iframe src="/forum" width="200" height="400"></iframe>
    

  </body>
</html>
